header{
width: 100%;
height: 550px;
background-image: url(../img/bd_1_2.png);
background-repeat: no-repeat;
background-position:top;
background-size: cover; 

}
.links{
    color:black !important;
    font-family: "Roboto",sans-serif;
    font-size: 1.2rem;
}
.navbar-dark .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 0.1); 
    background-color: rgba(41, 162, 246, 0.4);
  }
//  .bg-light{background-color: rgba(0,0,23, 0.2) !important;}

.header_text{
    
    text-align: center;
    margin-top:6em;
    h2{
        font-size:4.5em;
        color:$branco;
        font-family: "Lobster", cursive;
    }p{
        color:$branco;
        font-family: 'Segoe-UI',cursive;
        font-size:1.5em;
    }
    a{
        display: inline-block;
        margin-top:3em;
        color:$branco;
        background-color: $padrao;
        font-weight: bold;
        
        &:hover,&:focus{
            text-decoration: none;
            background-color:$hover;
        }
        
    }
}

