#last_decorations{
    margin-top: 5em;
    h3{
    padding:2em;
    font-weight: bold;
    font-family: "Open-sans", sans-serif;
    }
    a{
        background-color:$padrao; 
        color:White;
        margin: 3em 0;
        box-shadow: 1px 2px 15px black;
        
        &:hover,&:focus{
            text-decoration: none;
            background-color: $hover;
        }
    }
    margin-bottom: 5em;
}
.card{
    // box-shadow: 0px 0px 15px black;
    // border: 1px solid $padrao;
    padding:1em;
    margin-top: 1.3em;
    @media only screen and (max-width:576px){
        box-shadow: 0px 0px 0px white;
    }
}

.center_link{
    display: flex;
    justify-content: center;
}
#we_do{
    padding-bottom: 2em;
}
.we_do{
    h3{
        padding:2em;
        font-weight: bold;
    }
    p{
        margin-left:0.5em;
        font-size: 1.3rem;
    }
   
}
.carrosel{
    margin-top:8em;
    
}
.img-large{
    max-height: 295px;
@media only screen and (max-width:1200px) {
    max-height:244px;
}
@media only screen and (max-width:800px) {
    max-height:177px;
}
@media only screen and (max-width:768px) {
    max-height:270px;
}
}
#carouselExampleControls{
    box-shadow: 1px 2px 30px black;
}

