/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
body {
  background-color: #fafafa; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.btn-small {
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 8px 18px; }

.btn-medium {
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 14px 44px; }

.btn-large {
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 16px 56px; }

header {
  width: 100%;
  height: 550px;
  background-image: url(../img/bd_1_2.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed; }

.links {
  color: black !important;
  font-family: "Roboto",sans-serif;
  font-size: 1.2rem; }

.navbar-dark .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(41, 162, 246, 0.4); }

.header_text {
  text-align: center;
  margin-top: 6em; }
  .header_text h2 {
    font-size: 4.5em;
    color: white;
    font-family: "Lobster", cursive; }
  .header_text p {
    color: white;
    font-family: 'Segoe-UI',cursive;
    font-size: 1.5em; }
  .header_text a {
    display: inline-block;
    margin-top: 3em;
    color: white;
    background-color: #0288d1;
    font-weight: bold; }
    .header_text a:hover, .header_text a:focus {
      text-decoration: none;
      background-color: #29b6f6; }

#last_decorations {
  margin-top: 5em;
  margin-bottom: 5em; }
  #last_decorations h3 {
    padding: 2em;
    font-weight: bold;
    font-family: "Open-sans", sans-serif; }
  #last_decorations a {
    background-color: #0288d1;
    color: White;
    margin: 3em 0;
    box-shadow: 1px 2px 15px black; }
    #last_decorations a:hover, #last_decorations a:focus {
      text-decoration: none;
      background-color: #29b6f6; }

.card {
  padding: 1em;
  margin-top: 1.3em; }
  @media only screen and (max-width: 576px) {
    .card {
      box-shadow: 0px 0px 0px white; } }

.center_link {
  display: flex;
  justify-content: center; }

#we_do {
  padding-bottom: 2em; }

.we_do h3 {
  padding: 2em;
  font-weight: bold; }

.we_do p {
  margin-left: 0.5em;
  font-size: 1.3rem; }

.carrosel {
  margin-top: 8em; }

.img-large {
  max-height: 295px; }
  @media only screen and (max-width: 1200px) {
    .img-large {
      max-height: 244px; } }
  @media only screen and (max-width: 800px) {
    .img-large {
      max-height: 177px; } }
  @media only screen and (max-width: 768px) {
    .img-large {
      max-height: 270px; } }

#carouselExampleControls {
  box-shadow: 1px 2px 30px black; }

footer {
  margin-top: 5em;
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #232526, #414345);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #232526, #414345);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.menu-footer {
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: space-between; }
  .menu-footer ul li {
    display: inline-block; }
    .menu-footer ul li a {
      padding: 0.8em;
      color: white; }
      .menu-footer ul li a:hover, .menu-footer ul li a:focus {
        text-decoration: none;
        color: #01579b; }
        .menu-footer ul li a:hover:visited, .menu-footer ul li a:focus:visited {
          color: white; }

@media only screen and (max-width: 760px) {
  .menu-footer {
    display: flex;
    justify-content: center; } }

.links-footer {
  display: flex;
  justify-content: center;
  margin: 1em; }
  .links-footer ul li {
    display: inline-block; }
  .links-footer a {
    padding: 0.5em;
    font-family: 'Roboto',sans-serif; }

.contato-footer {
  display: flex;
  justify-content: center; }
  .contato-footer p {
    padding-right: 35px;
    margin: 1em 0;
    color: white;
    font-size: 1.3em; }
